# System files
.DS_Store
Thumbs.db

# Compiled css files
*.css.map

# Dependencies
/node_modules

#Local files
package-lock.json

# Build output for cordova
/www/
/platforms/android/app/src/main/assets/www/
/platforms/ios/www/
/platforms/windows/www/
/platforms/windows/BundleArtifacts/
_pkginfo.txt