# System files
.DS_Store
Thumbs.db

# Compiled css files
*.css.map

# Dependencies
/node_modules

#Local files
package-lock.json

# Build output for cordova
platforms/android/app/src/main/assets/www/
platforms/android/.gradle/4.1/fileHashes/
platforms/android/.gradle/4.1/taskHistory/
platforms/android/app/build/intermediates/assets/debug/
platforms/android/app/build/intermediates/incremental/packageDebug/debug/
platforms/android/app/build/outputs/apk/debug/
platforms/android/build/android-profile/